<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.t.dao.EvaluationMapper" >
  <resultMap id="BaseResultMap" type="cn.t.entity.Evaluation" >
    <id column="evainfoid" property="evainfoid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="evaluation" property="evaluation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    evainfoid, userid, evaluation
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from evainfo
    where evainfoid = #{evainfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evainfo
    where evainfoid = #{evainfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.t.entity.Evaluation" >
    insert into evainfo (evainfoid, userid, evaluation
      )
    values (#{evainfoid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{evaluation,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.t.entity.Evaluation" >
    insert into evainfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evainfoid != null" >
        evainfoid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="evaluation != null" >
        evaluation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evainfoid != null" >
        #{evainfoid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="evaluation != null" >
        #{evaluation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.t.entity.Evaluation" >
    update evainfo
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="evaluation != null" >
        evaluation = #{evaluation,jdbcType=VARCHAR},
      </if>
    </set>
    where evainfoid = #{evainfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.t.entity.Evaluation" >
    update evainfo
    set userid = #{userid,jdbcType=INTEGER},
      evaluation = #{evaluation,jdbcType=VARCHAR}
    where evainfoid = #{evainfoid,jdbcType=INTEGER}
  </update>
</mapper>