<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.t.dao.ExperienceMapper" >
  <resultMap id="BaseResultMap" type="cn.t.entity.Experience" >
    <id column="expinfoid" property="expinfoid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="sdate" property="sdate" jdbcType="DATE" />
    <result column="edate" property="edate" jdbcType="DATE" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    expinfoid, userid, sdate, edate, company, industry, dept, position, desp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from expinfo
    where expinfoid = #{expinfoid,jdbcType=INTEGER}
  </select>
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
   *
    from expinfo
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from expinfo
    where expinfoid = #{expinfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.t.entity.Experience" >
    insert into expinfo (expinfoid, userid, sdate, 
      edate, company, industry, 
      dept, position, desp
      )
    values (#{expinfoid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{sdate,jdbcType=DATE}, 
      #{edate,jdbcType=DATE}, #{company,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{desp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.t.entity.Experience" >
    insert into expinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expinfoid != null" >
        expinfoid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="sdate != null" >
        sdate,
      </if>
      <if test="edate != null" >
        edate,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="desp != null" >
        desp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expinfoid != null" >
        #{expinfoid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=DATE},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.t.entity.Experience" >
    update expinfo
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="sdate != null" >
        sdate = #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null" >
        edate = #{edate,jdbcType=DATE},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
    </set>
    where expinfoid = #{expinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.t.entity.Experience" >
    update expinfo
    set userid = #{userid,jdbcType=INTEGER},
      sdate = #{sdate,jdbcType=DATE},
      edate = #{edate,jdbcType=DATE},
      company = #{company,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      desp = #{desp,jdbcType=VARCHAR}
    where expinfoid = #{expinfoid,jdbcType=INTEGER}
  </update>
</mapper>