<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.t.dao.UserResumeAllMapper" >
  <resultMap id="BaseResultMap" type="cn.t.entity.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="useremail" property="useremail" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="queryForListMap" type="cn.t.dto.ResumeDto" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="useremail" property="useremail" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
    <collection property="resume" javaType="java.util.List" ofType="cn.t.entity.Resume">
	    <id column="resumeid" property="resumeid" jdbcType="INTEGER" />
	    <result column="fullname" property="fullname" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="VARCHAR" />
	    <result column="tall" property="tall" jdbcType="VARCHAR" />
	    <result column="birthday" property="birthday" jdbcType="DATE" />
	    <result column="province" property="province" jdbcType="VARCHAR" />
	    <result column="politicalstatus" property="politicalstatus" jdbcType="VARCHAR" />
	    <result column="maritalstatus" property="maritalstatus" jdbcType="VARCHAR" />
	    <result column="idcardnum" property="idcardnum" jdbcType="VARCHAR" />
	    <result column="expricesyears" property="expricesyears" jdbcType="VARCHAR" />
	    <result column="nowposition" property="nowposition" jdbcType="VARCHAR" />
	    <result column="wishmonthsalary" property="wishmonthsalary" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
    </collection> 
     <collection property="eduinfo" javaType="java.util.List" ofType="cn.t.entity.Education">
	     <id column="eduinfoid" property="eduinfoid" jdbcType="INTEGER" />
	    <result column="sdate" property="sdate" jdbcType="DATE" />
	    <result column="edate" property="edate" jdbcType="DATE" />
	    <result column="school" property="school" jdbcType="VARCHAR" />
	    <result column="major" property="major" jdbcType="VARCHAR" />
	    <result column="degree" property="degree" jdbcType="VARCHAR" />
	    <result column="edutype" property="edutype" jdbcType="VARCHAR" />
	    <result column="desc" property="desc" jdbcType="VARCHAR" />
     </collection>
     
    <collection property="expinfo" javaType="java.util.List" ofType="cn.t.entity.Experience">
     	<id column="expinfoid" property="expinfoid" jdbcType="INTEGER" />
	    <result column="sdate" property="sdate" jdbcType="DATE" />
	    <result column="edate" property="edate" jdbcType="DATE" />
	    <result column="company" property="company" jdbcType="VARCHAR" />
	    <result column="industry" property="industry" jdbcType="VARCHAR" />
	    <result column="dept" property="dept" jdbcType="VARCHAR" />
	    <result column="position" property="position" jdbcType="VARCHAR" />
	    <result column="desp" property="desp" jdbcType="VARCHAR" />
     </collection>
     
     <collection property="langinfo" javaType="java.util.List" ofType="cn.t.entity.Language">
	     <id column="langinfoid" property="langinfoid" jdbcType="INTEGER" />
	    <result column="lang" property="lang" jdbcType="VARCHAR" />
	    <result column="degree" property="degree" jdbcType="VARCHAR" />
	    <result column="subject" property="subject" jdbcType="VARCHAR" />
	    <result column="grade" property="grade" jdbcType="VARCHAR" />
     </collection>
     
     <collection property="evainfo" javaType="java.util.List" ofType="cn.t.entity.Evaluation">
	     <id column="evainfoid" property="evainfoid" jdbcType="INTEGER" />
	    <result column="evaluation" property="evaluation" jdbcType="VARCHAR" />
     </collection>
    
  </resultMap>
  
   <select id="selectUserAllMsg" resultMap="queryForListMap">  
   select * from
   user 
   left join resume on user.userid=resume.userid 
   left join eduinfo on user.userid=eduinfo.userid
   left join expinfo on user.userid=expinfo.userid
   left join langinfo on user.userid=langinfo.userid
   left join evainfo on user.userid=evainfo.userid
   
   
   
   </select>
  
</mapper>